.forget-password__form {
  max-width: 55rem;
  display: grid;
  justify-items: center;
}

.forget-password__container {
  display: flex;
  height: 100vh;
}

.forget-password__main {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
